DATABASE_URL="postgresql://{POSGRES_USER}:{PASSWORD_USER}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
PORT="3000"
JWT_ACCESS_SECRET="YOUR_SUPER_SECRET_ACCESS_WORD"
JWT_ACCESS_EXPIRES_IN="60s"
JWT_REFRESH_SECRET="YOUR_SUPER_SECRET_REFRESH_WORD"
JWT_REFRESH_EXPIRES_IN="7d"
SENDGRID_API_KEY="SG.your_sendgrid_api_key_here"
SENDGRID_FROM_EMAIL="noreply@yourdomain.com"
PASSWORD_RESET_TTL="15m"