DATABASE_URL="postgresql://{POSGRES_USER}:{PASSWORD_USER}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
PORT="3000"
JWT_ACCESS_SECRET="X0KmNvrbAEjMjYs1fR8I3NDvwxcr4GFvnjORbGk/NTA="
JWT_ACCESS_EXPIRES_IN="60s"
JWT_REFRESH_SECRET="eXGIobjpK98RAIN5AC0KpxKHAgIQq6IPqn1rq20xsx0="
JWT_REFRESH_EXPIRES_IN="7d"